.contact-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 22px;

}

.contact-content {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-column: 1;
    
} address a {
    margin-bottom: 12px;
    max-width: max-content;
}




.contact-tittle::before {
  content: "";
  display: block;
  width: 16px;
  height: 8px;
  border-radius: 50%;
  background: #FDFD96;
  position: absolute; 

}

.undraw-svg {
  flex-direction: column;
  grid-column: 2;
  justify-items: flex-start;
  align-items: flex-end;
  gap: 40;
  display: flex;
}

.undraw-svg img {
  margin-bottom: 34px;
}

@media (max-width:800px) {

  .contact-container {
    grid-template-columns: 1fr
  }

  .undraw-svg {
    display: grid;
    grid-column: 1;
  }

  .undraw-svg img {
    display: none;
  }

}