.project-bg {
    background: #FFFFC9;
    box-shadow: inset 0 -120px white;
}

.project-content {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: start;
}

.project-text h1 {
    margin-bottom: 22px;
}

.project-text p {
    margin-bottom: 40px;
}

.project-text {
    grid-column: 1;
}

.project-aurora {
    grid-column: 2/2;
}

.project-aurora img {
    border-radius: 4px;
}


@media (max-width: 800px) {
    
    .project-content {
        grid-template-columns: 1fr;
        gap: 40px;

    }

    .project-aurora {
        grid-column: 1;
    }
    

}