.qualification-container {
   max-width: 1200px;
   padding: 40px 20px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 100px;
}


.qualification-tittle {
   margin-bottom: 40px;
   



}

.qualification-tittle span {
   color: #FDFD96;
   
}


.qualification-square {
   background: #FFFFC9;
   padding: 20px;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
   border-radius: 4px;

   
}

.qualification-square h1 {
   margin-bottom: 22px;
}

.qualification-square span {
   margin-bottom: 4px;
}


.qualification-list {
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   
}


.qualification-list::nth-child(odd) {
   background: #FFFFBB;

}

.qualification ul {
   gap: 40px;
}


@media (max-width: 800px) {

   .qualification-container{
     grid-template-columns: 1fr;
     
   }
  }