.self {
  background: #FFFFC9;
}

.self-text {
  display: flex;
  flex-direction: column;
}

.self-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: start;
}

.self-text h1 {
  margin-bottom: 34px;
  position: relative;
  z-index: 1;
}

.self-text h1::before {
  content: "";
  z-index: -1;
  display: block;
  width: 62px;
  height: 62px;
  top: -10px;
  left: -30px;
  border-radius: 20px;
  background: #FDFD96;
  position: absolute;
}
.self-text p {
  margin-bottom: 24px;
}

.profile-photo {
  width: 100%;
  max-width: 360px; 
  height: auto; 
}

.self-link {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  align-items: center;
}

.self-link a {
  display: flex;
  transition: 0.3s;
}

.self-link a:hover {
  filter: brightness(1.2)
}

@media (max-width: 800px) {

  body {
    overflow-x: hidden;
  }


  .self-container{
    grid-template-columns: 1fr;
  }

  .self {
    background: #FFFFEE;;
  }
  
  .self-text h1 {
    font: bold  2.25rem "Lato";
    margin-bottom: 20px;
  }

  .self-text h1::before {
    width: 30px;
    height: 10px;
    left: -1px;
    top: -2px;
}

  .profile-photo {
    display: none;
  }

}
