body {
    margin: 0px;
    font-family: "Lato";
    background-color: #FFFFEE;
    
}


h1,
ul,
p {
    margin: 0px;

}


ul, 
li {
    padding: 0px;
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
    margin: 0px;
}

img {
    max-width: 100%;
}
