.header {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px 20px;
    align-items: center;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.header-menu a {
    font-size: 1.125rem;
    line-height: 2rem;
    padding: 10px 20px;
    color: #1A1A0F;
    transition: 0.3s;
}


.header-menu a:hover {
    filter: brightness(3)
}

@media (max-width: 800px) {

    .header {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }


    .header a {

        background: #FDFD96;
        border-radius: 4px;

    }

    .header-menu a:hover {
        filter: brightness(1)
    }
}