.button {
    display: inline-block;
    padding: 8px 16px;
    color: #747443;
    background: #FDFD96;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    font: 600 1.25rem "Lato", sans-serif;
    transition: 0.3s ease-in-out;
}

.button-not-available:hover {
    background: #FF766F;
    color:#993F3A;
    transition: 0.3s ease-in-out;
    box-shadow: none;

}

.button:hover {
    color: #747443;
    background: #FFFF7E;
    transition: 0.3s ease-in-out;
    box-shadow: none;
}

.button-not-available {
    display: inline-block;
    padding: 8px 16px;
    color: #993F3A;
    background: #FF6961;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    font: 600 1.25rem "Lato", sans-serif;
    transition: 0.3s ease-in-out;
    
}
